{% extends 'base.html.twig' %}

{% block title %}SpokenLanguages index{% endblock %}

{% block body %}
    <h1>SpokenLanguages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_id</th>
                <th>Language_id</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spoken_language in spoken_languages %}
            <tr>
                <td>{{ spoken_language.id }}</td>
                <td>{{ spoken_language.user.email }}</td>
                <td>{{ spoken_language.language.title }}</td>
                <td>{{ spoken_language.levelId }}</td>
                <td>
                    <a href="{{ path('spoken_languages_show', {'id': spoken_language.id}) }}">show</a>
                    <a href="{{ path('spoken_languages_edit', {'id': spoken_language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spoken_languages_new') }}">Create new</a>
{% endblock %}
