{% extends 'main.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <header class="flex">
        <nav class="flex">
            <div class="logo"><img src="/img/logo_transparent.png" alt=""></div>
            <div class="header-box flex">
                <p><a href="#">О нас</a></p>
                <p><a href="#">Контакты</a></p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_USER')%}
                        <p><a href="{{ path('user_menu') }}">Личный кабинет</a></p>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN')%}
                        <p><a href="{{ path('admin_menu') }}">Личный кабинет</a></p>
                    {% endif %}
                    {% if is_granted('ROLE_HR')%}
                        <p><a href="{{ path('hr_menu') }}">Личный кабинет</a></p>
                    {% endif %}
                    <p><a href="{{ path('app_logout') }}">Выход</a></p>
                {% else %}
                    <p><a href="{{ path('app_login') }}">Вход</a></p>
                {% endif %}
            </div>
            <div class="hamburger">
                <a href="#"><span></span></a>
            </div>
        </nav>
        <div class="herder-title">
            <h1>Доверьте работу профессионалам</h1>
            <h2>Мы профессионально разрабатывем ПО уже на протяжении 7 лет, о нас ходят только положительные слухи. Все клиенты довольны проделанной работой, пополняйте их ряды!</h2>
        </div>
    </header>
    <main class="wrapper">
        <section class="services flex">
            <h3>Наши услуги</h3>
            <div class="block-1 block">
                <h4>Сайты под ключ</h4>
                <p>Мы знаем потребности наших клиентов, которые хотят заказать адаптивный сайт. Когда вы обратитесь к нам, то получите именно тот инструмент, который максимально будет соответствовать специфике вашего бизнеса. Мы готовы выполнить качественно любой проект, не важно это будет landing page или большой интернет магазин.</p>
            </div>
            <div class="block-2 block">
                <h4>Мобильные приложения</h4>
                <p>Опыт наших программистов позволяет осуществлять разработку мобильных приложений любой сложности. Приложения позволяют повысить эффективность интернет-магазина и работать как самостоятельный канал продаж.</p>
            </div>
            <div class="block-3 block">
                <h4>ПО</h4>
                <p>В этой области наша компания решает задачи любой сложности. Наши специалисты проводят экспертизу жизнеспособности и эффективности будущего программного продукта, и лишь потом приступают к разработке!</p>
            </div>
        </section>
        <section class="projects">
            <h3>Наши проекты</h3>
            <h4>Если вы не уверены, стоит ли заказывать именно у нас, то посмотрите наши разработки, убедитесь, что только мы вам подходим, для всех ваших запросов!</h4>
            <div class="img-block flex">
                <div class="block block-1"><img src="/img/work_file1.jpg" alt=""></div>
                <div class="block block-2"><img src="/img/work_file2.jpg" alt=""></div>
                <div class="block block-3"><img src="/img/work_file3.png" alt=""></div>
            </div>
        </section>
        <section class="developers flex">
            <h3>Наши разработчики</h3>
            <h4>Откройте для себя нашу кухню. Узнайте лучше наших разработчиков, просмотрите их портфолио.</h4>
            <input type="submit" value="Просмотр">
        </section>
        <section class="form-send-info">
            <h3>В один клик</h3>
            <h4>Вы можете оставить заявку, заполнив форму ниже. На почту придёт подтверждение . Что может  быть проще?</h4>
            <form class="form" method="post" action="">
                <select class="dropdown">
                    <option value="">Категория заявки</option>
                </select>
                <textarea placeholder="Ваш вопрос" class="text-area"></textarea>
                <div>
                    <input type="email" class="text" placeholder="email">
                    <input type="text" class="text" placeholder="имя">
                    <input type="submit" value="Отправить" class="send">
                </div>
            </form>
        </section>
        <section class="partners">
            <h3>Наши партнёры</h3>
            <div class="flex">
                <div class="box"><a href="#"><img src="/img/org1.jpg" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org2.jpg" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org3.png" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org4.png" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org5.gif" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org6.jpg" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org7.png" alt=""></a></div>
                <div class="box"><a href="#"><img src="/img/org8.png" alt=""></a></div>
            </div>
        </section>
    </main>
{% endblock %}
